
/*banner*/
.wrapper {
  width: 100%;
  height: 65px;
  position: relative; 
  z-index: 90;
  padding: 2px 0 0 2px;
}

.ribbon-wrapper {
  width: 75px;
  height: 72px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -1px;
}

.ribbon-standard {
  font: bold 10px serif;
  text-align: center;

  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 3px 0;
  left: -13px;
  top: 20px;
  width: 118px;
}

.ribbon-green {
  color: #333; /*color of text dark gray*/
  background-color: #FFFF00;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  /*gradient*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFF00), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #FFFF00, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #FFFF00, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #FFFF00, #8EBF45); 
  background-image:      -o-linear-gradient(top, #FFFF00, #8EBF45); 
  color: #6a6340; /*shading*/
  
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.4);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.4);
}

.ribbon-red {
  color: #FFFFFF; /*color of text white*/
  background-color: #F70D1A;
  text-shadow: rgba(15,15,15,0.5) 0px 1px 0px;
  /*gradient*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F70D1A), to(#9F000F)); 
  background-image: -webkit-linear-gradient(top, #F70D1A, #9F000F); 
  background-image:    -moz-linear-gradient(top, #F70D1A, #9F000F); 
  background-image:     -ms-linear-gradient(top, #F70D1A, #9F000F); 
  background-image:      -o-linear-gradient(top, #F70D1A, #9F000F); 
  color: #EBDDE2; /*shading*/
  
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.7);
  -moz-box-shadow:    0px 0px 2px rgba(0,0,0,0.7);
  box-shadow:         0px 0px 2px rgba(0,0,0,0.7);
}

.ribbon-blue {
  color: #333; /*color of text dark gray*/
  background-color: #1569C7;
  text-shadow: rgba(0,0,0,0.2) 0px 2px 0px;  
  /*gradient*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5CB3FF), to(#1569C7)); 
  background-image: -webkit-linear-gradient(top, #5CB3FF, #1569C7); 
  background-image:    -moz-linear-gradient(top, #5CB3FF, #1569C7); 
  background-image:     -ms-linear-gradient(top, #5CB3FF, #1569C7); 
  background-image:      -o-linear-gradient(top, #5CB3FF, #1569C7); 
  color: #C2DFFF; /*shading*/
  
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.5);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.5);
}

