html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
	min-height: 79.4%;
   /* 	height: auto !important;
	height: 100%;
	margin: 0 auto -66px; the bottom margin is the negative value of the footer's height */
}

.ie10 #container{
    min-height: 79.56% !important;
}

#body {
   /*padding:10px;*/
   padding-bottom:66px;   /* Height of the footer */
}

a {outline : none;}
a img {outline : none;}
img {border : 0;}

.programlink {
    text-decoration:none;
    color:black;
}

.programmanagerlink {
    text-decoration:none;
    color:black;
}

.programheader{
    padding-left:8px;
}

.programheader-i2o{
    color: #4C9509;
}

.visheader{
    color: #4682B4;
    padding-left:8px;
}

.darpa-logo{
    float: left;
    margin: 13px 0px 5px 5px;
    border-style: none;
}

.darpa-header{
    background:black;
    width:100%;
    display:table;
    border-collapse:collapse;
	padding:10px;
}

.darpa-header-images-size{
    white-space:nowrap;
}

.darpa-header-images{
    border: 2px solid black;
    vertical-align: middle;
    text-align: left;
    width: 376px;
    display:table-cell;
}

.darpa-header-text{
    border: 2px solid black;
    vertical-align: middle;
    text-align: left;
    display:table-cell;
    margin-top: 20px;
	font-weight: bold;
	font-family: Times New Roman,Times,serif;
	font-size: 1.46em;
}

.footer {
   position:relative;
   bottom:0;
   width:100%;
   height:66px;   /* Height of the footer */
   background:black;
   /*clear:both;*/
}

.footer p{
    color: white;
	font:normal 12pt/1.5em Arial, Helvetica, sans-serif;
    line-height:1.5em;
    margin-bottom: 1.5em;
    padding-left:10px;
    max-width:100%;
}

.footer p a:link{
    color: #4863A0;
}

.no_space{
    padding:0px;
    margin:0px;
}






