/* tables */

body{
	width:100%;
	height: 100%;
	margin:0px;
}

table.tablesorter {
	font-family:Arial, Helvetica, sans-serif;
	background-color: #CDCDCD;
	/*margin:10px 80pt 15px;*/
	font-size: 10pt;
	width: 100%;
	text-align: left;
	z-index: -5000;
	margin-left:auto;
	margin-right:auto;
	

}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 10pt;
	padding: 14px;
}

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 3px;
	/*background-color: #F0F;*/
	vertical-align: top;
}

/* table row alternating colors */
table.tablesorter tbody tr:nth-child(odd) {
     background-color: #E8E8E8;
}
table.tablesorter tbody tr:nth-child(even) {
     background-color: #FFF;
}

#splash{
margin-left:2%;
width: 96%;
}
/* readability improvements */


h1, h2, h3, h4, h5 {
text-shadow:0 0 1px transparent;
font: bold Georgia, Utopia, serif;
max-width:70%;
padding-left:10px;
}

p {
font:normal 12pt/1.5em Arial, Helvetica, sans-serif;
line-height:1.5em;
margin-bottom: 1.5em;
padding-left:10px;
max-width:100%;

}

ol, ul {
font:normal 12pt/1.5em Arial, Helvetica, sans-serif;
line-height:1.25em;
margin-bottom: 1.1em;
max-width:70%;
padding-left:100px;
}

td a{
display: inline-block; 
max-width: 670px;
vertical-align: top;
}

/* stop linked images from having border */
a {outline : none;}
a img {outline : none;}
img {border : 0;}

.programlink {
text-decoration:none;
color:black;
}

.programmanagerlink {
text-decoration:none;
color:black;
}

.programheader{
padding-left:8px;
}

.programheader-i2o{
color: #4C9509; 
}

.visheader{
color: #4682B4; 
padding-left:8px;
}

.left-paragraph{
float:left; 
width:70%;
padding-left:2%;
padding-right:2%;
}

.left-paragraph p{
padding-left:0;
}

.right-image{
float:left; 
width:24%;  
padding-top:20px;
}

.right-image img{
float: right;
width: 90%;
}

.table-tabs{
float:left; 
width:96%; 
margin-left:2%;
margin-top:10px;
margin-bottom: 30px;
}

.darpa-logo{
float: left; 
margin: 13px 0px 5px 5px; 
border-style: none;
}

.darpa-header{
    background:black;
    width:100%; 
    display:table;
	border-collapse:collapse;
}

.darpa-header-images-size{
	white-space:nowrap;
}

.darpa-header-images{
    border: 2px solid black;
    vertical-align: middle;
    text-align: left;
    width: 400px;
    display:table-cell;
}

.darpa-header-text{
    border: 2px solid black;
    vertical-align: middle;
    text-align: left;
    display:table-cell;
    margin-top: 20px;
    /*margin-left: -50px;*/
    float: left;
    width: 1000px;
    display:inline-block;
}

/*
.darpa-header div{
position: static;
margin: -53px 0px 0px 385px;
}

.darpa-header H2{
padding-top:10px 0px 10px 0px; 
margin-bottom:2px;
}

.catalog-logo {
height:75px;
width:295px;
}
*/

.footer{
position:relative; 
clear:both;
background:black;
height:66px;
}

.footer p{
color: white;
}

.footer p a:link{
color: #4863A0;
}

.selected{
 background-color:#FFFF00;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}

.sunburst-div {
width: 100%;
height: 100%;
}

.vis_view_scroll{
height: 77%;
overflow-y: auto;
overflow-x: hidden;
}

.vis_p{
padding-right: 10px;
}

.vis_headers{
 max-width: 100%;
}

.no_space{
padding:0px;
margin:0px;
}

#sunburst-container{
width:100%;
background:#E6EEEE;
}

#vis_view{
width:50%; 
float:left; 
background:#E6EEEE; 
height:80.2%;

}

#vis_map{
width:50%;
float:left;
background:#E5E4E2; 
height:80.2%;
}

#vis-page{ 
height:720px;
overflow-y: hidden;
}
